<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <title>BRPM Deploy Pipeline Report</title>
  <style type="text/css">
      body { background-color: #e4e4e4; color: #333; text-align: center; font-family: arial, sans-serif; font-size: 12px}
      div.main_frame{ border: 0.5px solid #ccc; text-align: left; background-color: #FFF;}
      table{
          font-size:11px;
          margin-left: 25px;
          
      }
      td{
              border-right:0.5px solid #ccc;
              border-bottom: 0.5px solid #ccc;
              padding: 3px;
          }
      td.desc{
       font-size: 9px;
          }
	td.emphasis{
		  color: #454545;
  }
      td.titlecell{
              background-color: #e4e4e4;
          }
      th{
          border-top: 2px solid #ccc;
          border-bottom: 1px solid #ccc;
          /* border-right: 0.5px solid #ccc;*/
          font-weight: bold;
		      color: #454545;
		      background-color: #e4e4e4;
          padding: 3px;
          }
          
	.filename{ font-weight: bold; color: #004376; }
  .field_title{ margin-left: 10px; margin-right: 6px; font-size: 9px; font-weight: bold; color: #666}
  .indent30 { margin-left: 20px ;}
  a {
      color: #00a79d;
  }
  a:hover {
      color: #008d85;
  }
  .plan_header{
    display: block;
    font-size: 14px;
    color: #454545;
    float: right;
    margin-right: 10px;
  }
  .env_header{
    font-size: 16px;
    font-weight: bold;
    color: #454545;
  }
  .app_header{
    font-size: 14px;
    font-weight: bold;
    font-decoration: underline;
    color: #454545;
  }
  .request_header{
    font-size: 13px;
    color: #500000;
  }
  </style>
</head>

<body>
<div class='main_frame'>
  <div style='text-align: center; width: 700px;'><h2><%= @content["title"] %></h2></div>
<table>
	<thead>
<% 
last_request = 0
last_plan = "zzzz"
last_env = "zzzz"
last_app = "zzzz"

@content["data"].sort_by{|k| [k[9], k[6], k[5], k[2]] }.each do |record|
  request_id = record[0].to_i + 1000
  if record[0] != last_request
    last_request = record[0]
%>
<tr>
  <td colspan='8'>
  <% 
  if last_env != record[6]
    last_env = record[6]
  %>
    <hr>
    <span class='env_header'><%=record[6] %></span>
    
  <% end %> 
  <% 
  if last_plan != record[9]
    last_plan = record[9]
  %>
    <span class='plan_header'><%="Plan/Stage: #{record[9]} / #{record[10]}"%></span><br>
  <% else %>
      <br>
  <% end %> 
<span class='request_header'>
  <% 
  if last_app != record[5]
    last_app = record[5]
  %>
   <span class='field_title'>App</span><span class='app_header'><%= record[5] %></span><br>
  <% end %> 
<span class='indent30'></span><span class='field_title'>Request</span><%="#{request_id}-#{record[1]}" %>
- <a href="<%="#{@content["base_url"]}/requests/#{request_id}" %>" target="_blank">request in RLM</a><br> 
<span class='indent30'></span><span class='field_title'>Start</span><%=record[2] %><span class='field_title'>Finish</span> <%= record[3] %><span class='field_title'>Final State</span><%= record[4] %><span class='field_title'>Owner</span><%= record[8] %><br>

  </span>
  </td>
  </tr>
    <tr>
      <% @content["columns"][11..18].each do |col| %>
      <%= "<th>#{col}</th>"%>
      <% end %>
    </tr>
	</thead>
	<tbody>
  <% end %><!-- Block for request header -->
		 <tr>
			<% record[11..18].each do |col| %>
        <td><%= col %></td>
		  <% end %>
    </tr>
<% end %>
	</tbody>
</table>
</div>
</body>
</html>
