<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <title>BRPM Deploy Pipeline Report</title>
  <style type="text/css">
      body { background-color: #e4e4e4; color: #333; text-align: center; font-family: arial, sans-serif; font-size: 12px}
      div.main_frame{ border: 0.5px solid #ccc; text-align: left; background-color: #FFF;}
      table{
          font-size:11px;
          margin-left: 25px;
          
      }
      td{
              border-right:0.5px solid #ccc;
              border-bottom: 0.5px solid #ccc;
              padding: 3px;
          }
      td.desc{
       font-size: 9px;
          }
	td.emphasis{
		  color: #454545;
  }
      td.titlecell{
              background-color: #e4e4e4;
          }
      th{
          border-top: 2px solid #ccc;
          border-bottom: 1px solid #ccc;
          /* border-right: 0.5px solid #ccc;*/
          font-weight: bold;
		      color: #454545;
		      background-color: #e4e4e4;
          padding: 3px;
          }
          
	.filename{ font-weight: bold; color: #004376; }
  .field_title{ margin-left: 10px; margin-right: 6px; font-size: 9px; font-weight: bold; color: #666}
  .indent30 { margin-left: 20px ;}
  a {
      color: #00a79d;
  }
  a:hover {
      color: #008d85;
  }
  .plan_header{
    display: block;
    font-size: 14px;
    color: #454545;
    float: right;
    margin-right: 10px;
  }
  .env_header{
    font-size: 16px;
    font-weight: bold;
    color: #454545;
  }
  .app_header{
    font-size: 14px;
    font-weight: bold;
    font-decoration: underline;
    color: #454545;
  }
  .request_header{
    font-size: 13px;
    color: #500000;
  }
  </style>
</head>

<body>
<div class='main_frame'>
  <div style='text-align: center; width: 700px;'><h2><%= @content["title"] %></h2></div>
<table>
	<thead>
<!-- 
      "App_id",
      "App", 
      "Template_id",
      "Template",
      "NumRequests",
      "Steps",
      "Environment"
      "ave_duration"
      "State"
      "state"
      "state"
-->
<%
num_columns = @content["columns"].size - 6
last_template = "zzzz"
last_app = "zzzz"


#@content["data"]["table"].sort_by{|k| [k[5], k[18], k[6], k[2]] }.each do |record|
@content["data"]["table"].each do |record|
if last_app != record[1]
    last_app = record[1]
  %>
<tr>
  <td colspan='<%= num_columns %>'>
    <hr>
    <span class='env_header'><%=record[1] %></span>
  </td>
</tr>
<% 
end
if last_template != record[3]
    last_template = record[3]
%>
<tr>
  <td colspan='3'>
    <span class='field_title'>Template</span><span class='plan_header'><%=record[3]%></span>
  </td>
  <td colspan='<%= num_columns - 3 %>'>
    <span class='request_header'>
    <span class='field_title'><%= @content["columns"][4]%></span><%=record[4] %>
    <span class='field_title'><%= @content["columns"][5]%></span><%=record[5] %>
  </td>  
</tr>
  <thead>
    <tr>
      <% @content["columns"][6..-1].each_with_index do |col,idx| %>
        <%= "<th>#{col}</th>" %>
      <% end %>
    </tr>
	</thead>
<% end %><!-- Block for template header -->
	<tbody>
		 <tr>
			<% record[6..-1].each_with_index do |col, idx| %>
        <% if idx == 0 %>
          <td><b><%= col %></b></td>
        <% elsif idx == 1 %>
          <td><%= Time.at(col).utc.strftime("%H:%M:%S") %></td>
        <% else %>
          <td><%= col %></td>
        <% end %>
		  <% end %>
    </tr>
<% end %>
	</tbody>
</table>
</div>
</body>
</html>
